<!-- Note :
   - You can modify the font style and form style to suit your website.
   - Code lines with comments Do not remove this code  are required for the form to work properly, make sure that you do not remove these lines of code.
   - The Mandatory check script can modified as to suit your business needs.
   - It is important that you test the modified form before going live.-->
<div id='crmWebToEntityForm' style='width:650px;margin:auto; border-width:1px; border-style: solid; border-color: lightgray; background-color:#ffffff;background-color:white;'>
   <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset=UTF-8'>
   <form style='margin: 0px 20px' action='https://crm.zoho.eu/crm/WebForm'  name=WebForm267040000000253006 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory267040000000253006()' accept-charset='UTF-8'>
 <input type='text' style='display:none;' name='xnQsjsdp' value='77e4dbeb35dba3a86634d0e972bd8dd67c9862aab6205789864afa7086530c97'></input>
 <input type='hidden' name='zc_gad' id='zc_gad' value=''></input>
 <input type='text' style='display:none;' name='xmIwtLD' value='5e405a90a56ec2d430f447b0f1217939b7db1180c0cc67173e731552468eb249'></input>
 <input type='text'  style='display:none;' name='actionType' value='Q3VzdG9tTW9kdWxlMg=='></input>
 <input type='text' style='display:none;' name='returnURL' value='http://www.abodeinauto.de/' > </input><br></br>
   <!-- Do not remove this code. -->
  <style>
    #crmWebToEntityForm tr , #crmWebToEntityForm td {
      padding:20px 10px ;
      padding-top:none;
      border-spacing:0px;

      }
  </style>
  <table style='width:600px;color:black;'>
    <tr>
      <td style='word-break: break-word;text-align:left;font-size:18px;font-family:sans-serif;width:25%;'>Firma</td>
      <td style='width:75%;' >
        <input type='text' style='font-family: sans-serif; padding: 8px 5px; width:100%;box-sizing:border-box;'  maxlength='255' name='COBJ2CF6' />
      </td>

    </tr>
    <tr>
      <td class='cell' style='word-break: break-word;text-align:left;font-size:18px;font-family:sans-serif;width:25%;'>Nachname
        <span style='color:red;'>*
        </span>
      </td>
      <td class='cell'  style='width:75%;' >
        <input type='text' style='font-family: sans-serif; padding: 8px 5px; width:100%;box-sizing:border-box;'  maxlength='120' name='NAME' />
      </td>

    </tr>
    <tr>
      <td  style='word-break: break-word;text-align:left;font-size:18px;font-family:sans-serif;width:25%;'>E-Mail
        <span style='color:red;'>*
        </span>
      </td>
      <td style='width:75%;' >
        <input type='text' style='font-family: sans-serif; padding: 8px 5px; width:100%;box-sizing:border-box;'  maxlength='100' name='Email' />
      </td>

    </tr>
    <tr>
      <td  style='word-break: break-word;text-align:left;font-size:18px;font-family:sans-serif;width:25%;'>Telefon
        <span style='color:red;'>*</span>
      </td>
      <td style='width:75%;' >
        <input type='text' style='font-family: sans-serif; padding: 8px 5px; width:100%;box-sizing:border-box;'  maxlength='30' name='COBJ2CF2' />
      </td>

    </tr>
    <tr>
      <td  style='word-break: break-word;text-align:left;font-size:18px;font-family:sans-serif;width:25%;'>Stadt
      </td>
      <td style='width:75%;' >
        <input type='text' style='font-family: sans-serif; padding: 8px 5px; width:100%;box-sizing:border-box;'  maxlength='255' name='COBJ2CF7' />
      </td>

    </tr>
    <tr>
      <td  style='word-break: break-word;text-align:left;font-size:18px;font-family:sans-serif;width:25%;'>Fuhrparkgr&ouml;&szlig;e
      </td>
      <td style='width:75%;'>
    <select style='height: 45px;width:100%;box-sizing:border-box; font-size:16px;font-family:sans-serif;' name='COBJ2CF10'>
      <option value='-None-'>Bitte auswählen</option>
      <option value='1-30&#x20;Fahrzeuge'>1-30 Fahrzeuge</option>
      <option value='31-60&#x20;Fahrzeuge'>31-60 Fahrzeuge</option>
      <option value='61-100&#x20;Fahrzeuge'>61-100 Fahrzeuge</option>
      <option value='100&#x2b;&#x20;Fahrzeuge'>100&#x2b; Fahrzeuge</option>
    </select>
  </td>

</tr>
<tr>
  <td style='word-break: break-word; vertical-align: top; text-align:left;font-size:18px;font-family:sans-serif;width:25%;'>Nachricht </td>
  <td style='width:75%;'>
    <textarea name='COBJ2CF5' maxlength='2000' style='padding: 8px 5px; font-family: sans-serif; height: 100px; width:100%;'>&nbsp;
    </textarea>
  </td>

</tr>

  <tr>
    <td colspan='2' style='text-align:center; padding-top:15px; font-size:18px;'>
    <input style='font-family:sans-serif; width: 100px; height: 40px; margin-right: 5px; cursor: pointer;font-size:14px;color: white; background-color: orange; padding: 3px 10px; border-radius: 20px; border-color: orange' id='formsubmit' type='submit' value='Senden'  >

    </input>
  </td>
</tr>
</table>
  <script>
    var mndFileds=new Array('NAME','Email','COBJ2CF2');
    var fldLangVal=new Array('Nachname','E-Mail','Telefon');
    var name='';
    var email='';

    function checkMandatory267040000000253006() {
    for(i=0;i<mndFileds.length;i++) {
      var fieldObj=document.forms['WebForm267040000000253006'][mndFileds[i]];
      if(fieldObj) {
      if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
       if(fieldObj.type =='file')
        {
         alert('Bitte wählen Sie eine Datei zum Hochladen.');
         fieldObj.focus();
         return false;
        }
      alert(fldLangVal[i] +' darf nicht leer sein.');
              fieldObj.focus();
              return false;
      }  else if(fieldObj.nodeName=='SELECT') {
             if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
        alert(fldLangVal[i] +' darf nicht leer sein.');
        fieldObj.focus();
        return false;
         }
      } else if(fieldObj.type =='checkbox'){
       if(fieldObj.checked == false){
        alert('Please accept  '+fldLangVal[i]);
        fieldObj.focus();
        return false;
         }
       }
       try {
           if(fieldObj.name == 'Last Name') {
        name = fieldObj.value;
          }
      } catch (e) {}
        }
    }
    document.getElementById('formsubmit').disabled=true;
  }
</script>
  </form>
</div>
